<div id="container">
    <form action="deconnexion.html">

        <p><b><center>SUPPRESSION D'UN MODULE</center></b></p>
        <label for="session-select">Promotion:</label>
            <br />
            <input type="radio" name="promo" value="awbd" id="awbd" /> 
            <label for="awbd">EISI AWBD</label>
           
            <input type="radio" name="promo" value="cs" id="cs" /> 
            <label for="cs">EISI CS</label>
            
            <input type="radio" name="promo" value="bts" id="bts" /> 
            <label for="bts">BTS</label>
            <br />
            <br />    
        <label for="annee">Année:</label>

            <select name="annee" id="annee-select">
                <option value="">--Veuillez choisir une annee--</option>
                <option value="2000">2020</option>
                <option value="2000">2019</option>
                <option value="2000">2018</option>
                <option value="2000">2017</option>
                <option value="2000">2016</option>
                <option value="2000">2015</option>
                <option value="2000">2014</option>
                <option value="2000">2013</option>
                <option value="2000">2012</option>
                <option value="2000">2011</option>
                <option value="2000">2010</option>
                <option value="2000">2009</option>
                <option value="2000">2008</option>
                <option value="2000">2007</option>
                <option value="2000">2006</option>
                <option value="2000">2005</option>
                <option value="2000">2004</option>
                <option value="2000">2003</option>
                <option value="2000">2002</option>
                <option value="2000">2001</option>
                <option value="2000">2000</option>
            </select>

            <br>
            <br>
        <label for="module">Module:</label>

            <select name="module" id="module-select">
                <option value="">--Veuillez choisir un module--</option>
            </select>

            <br>
            <br>
        <input type="submit" id='submit' value='SUPPRIMER' >
        
        <a href="javascript:history.back()">Retour</a>

    </form> 
</div>
</body>