
        <div id="container">
            <form action="deconnexion.html">

                <p><b><center>AJOUT D'UN ETUDIANT</center></b></p>
                <label>Nom:</label>
                <input type="text"  name="promo" >
                  <br>
                <label>Prénom:</label>
                <input type="text"  name="promo" >
                  <br>
                <label>adresse mail:</label>
                <input type="text"  name="promo" >
                  <br>
                <input type="submit" value='AJOUTER'/>
                <a href="javascript:history.back()">Retour</a>
            </form> 
        </div>
    </body>
</html>