<div id="container">
    <form>
        <a href="module.html"> 
            <input type="bouton" value='MODULE'/>
        </a>
        <a href="session.html"> 
            <input type="bouton" value='SESSION'/>
        </a>
        <a href="users.html"> 
            <input type="bouton" value='USERS'/>
        </a>

        <a href="note.html"> 
            <input type="bouton" value='VISUALISATION LES NOTES'/>
        </a>
        <a href="javascript:history.back()">Retour</a>
    </form>	
</div>